*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background-color:darkgrey;
}

.navbar{
  display: flex;
  justify-content: flex-start;
  
}

.navbar a{
  text-decoration: none;
  color: black;
}

#profile{
  display: flex;
  flex-direction: row;
}
