*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background-color:darkgrey;
}

.navbar{
  display: flex;
  justify-content: center;
  text-align: center;
  
}

.navbar a{
  text-decoration: none;
  background: pink;
  color: black;
}

